alabaster==0.7.16
aniso8601==9.0.1
Babel==2.15.0
blinker==1.8.2
bootstrap-py==2.0.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
defusedxml==0.7.1
docutils==0.21.2
Flask==3.0.3
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
gitdb==4.0.11
GitPython==3.1.43
gunicorn==22.0.0
idna==3.7
imagesize==1.4.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
packaging==24.1
pguard==0.4.0
Pygments==2.18.0
pytz==2024.1
requests==2.32.3
scipy==1.14.0
setuptools==70.1.1
setuptools-scm==8.1.0
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.31
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
