.card{
    margin-top: 5%;
    padding: 15px;
}

.btn{
    margin-top: 0;
    margin-bottom: 5px;
}

.heading{
    margin-top: 25px;
    font-size: 2rem;
}

body{
    background-color: #ffffff;
}

.navbar{
    background-color: #eecccc;
}

.main-color{
    color: #994444
}

.nav-link{
    font-weight: 800;
}

hr{
    margin-top: 5px;
}

.section{
    width: 70%
}

.card-header{
    background-color: #eecccc;
    font-weight: 700;
}

.form-group{
    padding: 10px;
}

.map{
    min-width: 500px;
    width: 400px;
    margin-top: 5%
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(50, 10px);
    grid-template-rows: repeat(50, 10px);
    padding: 0;
}

.map-info{
    margin-top: 5%;
}

.mapper{
    margin-top: 5%;
}

.col-sm-4 a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

a .card:hover{
    background-color: #eecccc;
    transform: scale(1.05);
}

.garbage{
    display: inline-block;
    position: relative;
    align-self: right;
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 0;
    background-color: #994444;
    border-color: #994444;
}
