{% extends "base.html" %}

{% block title %}Create a Tag{% endblock %}

{% block body %}
<!-- Main Content -->
<div class="main-content">
    <div class="container section">
        <!-- Form to Create a Tag -->
        <form id="createtag">
            <div class="card">
                <div class="card-header">Create a New Tag
                </div>
                
                <!-- Senior Name Section -->
                <div class="form-group">
                    <!-- Text Field to Enter Senior Name -->
                    <label for="senior_name">Senior Name:</label>
                    <input type="text" class="form-control" id="senior_name"
                    name="senior_name" placeholder="Enter senior's name">
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-outline-danger alert-danger"><b>Submit</b></button>
            </div> 
        </form>
    </div>
</div>
<script>
    function handleSubmit(event) {
        event.preventDefault();

        // Grab data from our form
        const data = new FormData(event.target);

        // Do a bit of work to convert the entries to a plain JS object
        const value = Object.fromEntries(data.entries());

        // Create a message to send to our database
        var body = {senior_name: value.senior_name};

        // Send message
        postRequest(body);
    }

    function postRequest(data){
        $.ajax({
             type: "POST",
             url: "/api/tags",
             data: JSON.stringify(data),// now data come in this function
             contentType: "application/json; charset=utf-8",
             crossDomain: true,
             dataType: "json",
             success: function (data, status, jqXHR) {

                 alert("success");// write success in " "
             },

             error: function (jqXHR, status) {
                 // error handler
                 console.log(jqXHR);
                 alert('fail' + status.code);
             }
          });
    }

    // Attach our functions to our submit button
    const form = document.querySelector('form');
    form.addEventListener('submit', handleSubmit);
</script>
{% endblock %}