{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <h2><b>Clusters</b></h2>
    <div class="row">
        {% for cluster in clusters %}
            <div class="col-sm-4">
                <div class="card">
                    <h4><b>Senior Name:</b> {{cluster.senior_name}} </h4>
                    <p><b>Senior Position:</b> ({{cluster.senior_x}}, {{cluster.senior_y}})</p>
                    <p><b>Number of Anchors:</b> ({{cluster.num_anchors}})</p>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
<div class="container">
    <h2><b>Anchors</b></h2>
    <div class="row">
        {% for anchor in anchors %}    
                <div class="col-sm-4">
                    <div class="card">
                    <h4><b>Anchor ID:</b> {{anchor.anchor_id}}</h4>
                    <p><b>Anchor Cluster:</b> {{anchor.cluster_id}}</p>
                    <p><b>Anchor Position:</b>({{anchor.anch_x}}, {{anchor.anch_y}})</p>
                    <p><b>Anchor Distance:</b>{{anchor.anchor_distance}}</p>
                </div>
            </div>
        {% endfor %}    
    </div>
</div>
{% endblock %}